In [1]:
import pandas as pd
import numpy as np

In [2]:
#load ECG dataset
ab = pd.read_csv('data/ptbdb_abnormal.csv',index_col=None,header=None)
ab.head()

nr = pd.read_csv('data/ptbdb_normal.csv',index_col=None,header=None)
nr.head()

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,1.000000,0.900324,0.358590,0.051459,0.046596,0.126823,0.133306,0.119125,0.110616,0.113047,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.000000,0.794681,0.375387,0.116883,0.000000,0.171923,0.283859,0.293754,0.325912,0.345083,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.909029,0.791482,0.423169,0.186712,0.000000,0.007836,0.063032,0.077002,0.074957,0.077342,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.000000,0.478893,0.056760,0.064176,0.081289,0.072732,0.055619,0.048774,0.054478,0.041643,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.000000,0.867238,0.201360,0.099349,0.141336,0.120934,0.108516,0.096393,0.093436,0.100828,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
ab = ab.iloc[:nr.shape[0]]

In [6]:
ab = ab.append(nr,ignore_index=True)

In [7]:
ab.shape

(8092, 188)

In [8]:
ab.head()

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,0.932233,0.869679,0.886186,0.929626,0.908775,0.933970,0.801043,0.749783,0.687229,0.635100,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,1.000000,0.606941,0.384181,0.254237,0.223567,0.276836,0.253430,0.184826,0.153349,0.121872,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.000000,0.951613,0.923963,0.853303,0.791859,0.734255,0.672043,0.685100,0.670507,0.667435,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.977819,0.899261,0.230129,0.032348,0.142329,0.223660,0.328096,0.367837,0.381701,0.389094,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.935618,0.801661,0.805815,1.000000,0.722741,0.480789,0.454829,0.319834,0.266874,0.308411,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [9]:
ab = ab.sample(frac=1).reset_index(drop=True)

In [10]:
train = ab.iloc[:4046,:]
test = ab.iloc[4046:,:]

In [11]:
train.head()

,0,1,2,3,4,5,6,7,8,9,...,178,179,180,181,182,183,184,185,186,187
0,0.976480,0.813463,0.548256,0.523925,0.229521,0.110300,0.107867,0.223033,0.399027,0.443633,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.924699,0.966867,0.839608,0.798946,0.726657,0.298193,0.050452,0.066265,0.000000,0.170934,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,1.000000,0.897401,0.713178,0.417693,0.259462,0.183767,0.149567,0.151391,0.140447,0.148199,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
3,0.930380,0.799134,0.415057,0.012658,0.110260,0.172219,0.225183,0.353098,0.428048,0.449367,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
4,0.943813,0.752842,0.233842,0.000000,0.037999,0.083469,0.115135,0.106528,0.110263,0.109938,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [12]:
train.to_csv('./data/train.csv')
test.to_csv('./data/test.csv')

In [3]:
oof = pd.DataFrame(np.zeros((100,129)))
for i in range(100):
    r = np.random.randint(0, high=df.shape[0])
    oof.loc[i] = df.iloc[r,:].values
    df = df.drop(r, axis=0)
    
oof.head()

,0,1,2,3,4,5,6,7,8,9,...,119,120,121,122,123,124,125,126,127,128
0,0.74538,0.40512,0.128420,0.099474,0.114200,0.103230,0.105870,0.106610,0.112800,0.127750,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,0.74866,0.72859,0.383160,0.197020,0.045909,0.076691,0.081215,0.079596,0.074503,0.074752,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
2,0.82901,0.59209,0.016027,0.053118,0.098701,0.094618,0.081813,0.091729,0.088893,0.091431,...,0.000396,-0.000277,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.83462,0.52939,0.070495,0.168920,0.103080,0.118290,0.091153,0.102890,0.094212,0.098071,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.83817,0.82017,0.297060,0.246950,0.201970,0.244970,0.217150,0.232860,0.220050,0.223310,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0

In [4]:
oof.to_csv('data/oof.csv')
df.to_csv('data/data_train.csv')